div {
  border: 2px solid black;
  background-color: palevioletred;
  width: 200px;
  height: 200px;

  transition-property: border-radius;
  transition-duration: 2s;
  transition-delay: 1s;
}
div:hover {
  background-color: aqua;
  border-radius: 50%;
  cursor: pointer;
  transition-property: border-radius;
  transition-duration: 2s;
  transition-delay: 1s;
}
